@mixin absoluteCenter {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
@mixin absoluteCenterX {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}
@mixin absoluteCenterY {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}

@mixin relativeCenter {
  position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
@mixin relativeCenterX {
  position: relative;
  transform: translateX(-50%);
  left: 50%;
}
@mixin relativeCenterY {
  position: relative;
  transform: translateY(-50%);
  top: 50%;
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin absoluteBefore {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    @content;
  }
}
@mixin absoluteAfter {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    @content;
  }
}

@mixin darkenHover($color, $percentage: 10) {
  background-color: $color;
  &:hover {
    background-color: darken($color: $color, $amount: $percentage);
  }
}
@mixin lightenHover($color, $percentage: 10) {
  background-color: $color;
  &:hover {
    background-color: lighten($color: $color, $amount: $percentage);
  }
}

@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}
@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}